@page "/"
@inject IConfiguration _config

<PageTitle>Index</PageTitle>

<h1>AppSettings Values</h1>

 <p>
     MySetting Value :@mySetting
 </p>

  <p>
     SubSetting Value :@subSetting
 </p>
 <p>
     Connection string value : @connectionString
 </p>

 @code {
    string mySetting = "";
    string subSetting = "";
    string connectionString = "";

    protected override void OnInitialized()
    {
        mySetting = _config.GetValue<string>("MySetting");
        subSetting = _config.GetValue<string>("MainSetting:SubSetting");
        connectionString = _config.GetConnectionString("Default");
    }
    
 }